.navbar {
  background-color: #d937fa;
}

.jumbotron {
  background: url("../img/pulau-indo.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}
#galery {
  background-color: #b4e4ff;
}

section {
  padding-top: 5rem;
}

.parallax img {
  background: #000;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.parallax {
  min-height: 400px;
  background: transparent;
  background-size: cover;
  background-attachment: fixed;
}

.parallax h2 {
  padding-top: 12rem;
  font-family: sans-serif;
  font-size: 70px;
  color: rgb(255, 0, 0);
  margin: 0px;
}

.dimension {
  width: 300px;
  height: 150px;
}

.nav-tabs .nav-link.active {
  background-color: #d937fa;
  color: azure;
  border: 3px solid #d937fa;
}
.nav-tabs .nav-link {
  background-color: #ffffff;
  color: rgb(212, 0, 255);
  border: 3px solid #d937fa;
  margin-right: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.nav-tabs .nav-link:hover {
  border: 3px solid #d937fa;
}

.nav-tabs {
  border-bottom: 1px solid #d937fa;
}
.tab-content {
  border: 1px solid #d937fa;
  padding: 20px;
}
