.navbar {
  background-color: #d937fa;
}

.jumbotron {
  background: url("../img/pulau-indo.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#galery {
  background-color: #fdd7b3;
}

section {
  padding-top: 5rem;
}
